.text-center{
    text-align: center;
}
.bg-red{
    background-color: #3d3da6;
    width: 330px;
    
}
.mx-auto{
    margin: auto;
}
.flex{
    display: flex;

}
.flex-col{
    flex-direction: column;
}
.items-center{
    align-items: center;

}